/* COLORS */

$color_hair: rgba(62,109,157, 1);
$color_video: rgba(210,40,40, 1);
$color_photo: rgba(11,158,146, 1);
$color_store: rgba(143,183,93, 1);
$color_community: rgba(138,76,174, 1);
$color_about: rgba(235,186,0, 1);
$color_learn: rgba(237,161,51, 1);

$color_gray: rgba(159,159,159,1);
$color_text: rgba(0,0,0,1);
$color_emphasis: rgba(254,254,187,.7); // translucent highlighter yellow (for background use)
$color_highlight: rgba(39,189,235,1);
$color_HD_blue: rgba(73,109,145,1);

$color_cta_light: #96d338;
$color_cta_dark: #78a52e;
$color_cta_darker: #537e08;

$color_cta_active_light: #f2812c;
$color_cta_active_dark: #bd6725;
$color_cta_active_darker: #824e26;

.color_hair   { color: $color_hair; }
.color_video  { color: $color_video; }
.color_photo  { color: $color_photo; }
.color_store  { color: $color_store; }
.color_community { color: $color_community; }
.color_about  { color: $color_about; }
.color_learn  { color: $color_learn; }

.color_gray  { color: $color_gray; }
.color_emphasis  { background-color: $color_emphasis; }
.color_highlight { color: $color_highlight; }
.color_hdblue { color: $color_HD_blue; }

.color_cta_light { color: $color_cta_light; }
.color_cta_dark { color: $color_cta_dark;}
.color_cta_darker { color: $color_cta_darker; }
