//@import "compass/css3";
//@import "hint/hint.scss";
/* TYPOGRAPHY */
/* FONT SIZES based on fibonacci + 13 */
/* 13	14	15	16	18	21	26	34	47	68	102	157 */


/*  PX to EM conversion:
    http://www.pjmccormick.com/sweet-sass-function-convert-px-em

    font-size: em(18px) // outputs 1.125 em
*/

$base-font-size: 16px;

@function rem($target, $context: $base-font-size) {
   @if $target == 0 { @return 0 }
   @return $target / $context + 0rem;
}

$font_size_12: 9.8125; // 9.8125rem
$font_size_11: 6.375; // 6.375rem
$font_size_10: 4.25; // 4.25rem
$font_size_9: 2.9375; // 2.9375rem
$font_size_8: 2.125; // 2.125rem
$font_size_7: 1.625; // 1.625rem
$font_size_6: 1.3125; // 1.3125rem
$font_size_5: 1.125; // 1.125rem
$font_size_4: 1; // 1rem
$font_size_3: 0.875; // .875rem
$font_size_2: 0.8125; // .8125rem
$font_size_1: 0.75; // .75rem

$base-line-height: 1.625;

$line_height8x: $base-line-height*4.5; // 6.5rem
$line_height7x: $base-line-height*4; // 5.6875rem
$line_height6x: $base-line-height*3.5; // 4.875rem
$line_height5x: $base-line-height*3; // 4.0625rem
$line_height4x: $base-line-height*2.5; // 3.25rem
$line_height3x: $base-line-height*2; // 2.4375rem
$line_height2x: $base-line-height; // 1.625remexc
$line_height1x: $base-line-height*0.5; // 0.8125rem

.font_size_1 {font-size:$font_size_1; }
.font_size_2 {font-size:$font_size_2; }
.font_size_3 {font-size:$font_size_3; }
.font_size_4 {font-size:$font_size_4; }
.font_size_5 {font-size:$font_size_5; }
.font_size_6 {font-size:$font_size_6; }
.font_size_7 {font-size:$font_size_7; }
.font_size_8 {font-size:$font_size_8; }
.font_size_9 {font-size:$font_size_9; }
.font_size_10 {font-size:$font_size_10; }
.font_size_11 {font-size:$font_size_11; }
.font_size_12 {font-size:$font_size_12; }

.line_height_1 {line-height:$line_height1x;}
.line_height_2 {line-height:$line_height2x;}
.line_height_3 {line-height:$line_height3x;}
.line_height_4 {line-height:$line_height4x;}
.line_height_5 {line-height:$line_height5x;}
.line_height_6 {line-height:$line_height6x;}
.line_height_7 {line-height:$line_height7x;}
.line_height_8 {line-height:$line_height8x;}


//@mixin line_height;

/* FONTS */

/****************************************
 FUTUREPROOF ENCAPSULATION

 this new layer of CSS styles will live
 inside of an element with the class
 ".futureproof" inside of the existing
 styles of HairDirect.com

****************************************/
.grid {
        background: url(../img/baseline26px.png) repeat left top ;
     }

.futureproof {
}


    * {
        @include box-sizing(border-box !important);
    }

    /*
     * Remove text-shadow in selection highlight: h5bp.com/i
     * These selection rule sets have to be separate.
     * Customize the background color to match your design.
     */

    ::-moz-selection {
        background: $color_emphasis;
        text-shadow: none;
    }

    ::selection {
        background: $color_emphasis;
        text-shadow: none;
    }


    strong {
        font-family: HelveticaNeueETW01-75Bd;
    }

    em {
        background-color: $color_emphasis;
    }


    a:link {
        @include transition(all 0.3s ease-out);
        color: $color_HD_blue;
        text-decoration: none;
        border-bottom: 1px solid;
    }


    a:visited {
        color: $color_HD_blue;
        text-decoration: none;
    }


    a:hover {
        color: $color_highlight;
        text-decoration: none;
    }




    h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited, h4 a:link, h4 a:visited, h5 a:link, h5 a:visited, h6 a:link, h6 a:visited {
        text-decoration: none;
        color: $color_text;
        border-bottom: none;
    }


    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
        color: $color_highlight;
        text-decoration: none;
    }

//font-samily:"HelveticaNeueW01-UltLt";
//font-family:"HelveticaNeueW01-Thin";
//font-family:"HelveticaNeueETW01-45Lt";
//font-family:"HelveticaNeueETW01-46Lt";
//font-family:"HelveticaNeueETW01-55Rg";
//font-family:"HelveticaNeueETW01-56It";
//font-family:"HelveticaNeueETW01-65Md";
//font-family:"HelveticaNeueETW01-66Md";
//font-family:"HelveticaNeueETW01-75Bd";
//font-family:"HelveticaNeueETW01-76Bd";


    h1 {
        font-size: $font_size_10;
        line-height: $line_height6x;
        margin-top: $line_height5x;
        margin-bottom: $line_height1x;
        font-family: HelveticaNeueW01-UltLt;
        color: $color_text;
        letter-spacing:1px;
		@include font-family(100);
    }

    .title {
         margin-top: 0;
    }


    h2 {
        font-size: $font_size_9;
        line-height: $line_height4x;
        margin-bottom: $line_height2x;
        margin-top: $line_height4x;
//        font-family: HelveticaNeueW01-Thin;
		@include font-family(200);
    }


    h3 {
        font-size: $font_size_8;
        line-height: $line_height4x;
        margin-bottom: $line_height1x;
        margin-top: $line_height1x;
//        font-family: HelveticaNeueETW01-45Lt;
		@include font-family(300);
    }


    h4 {
        margin-top: $line_height1x;
        margin-bottom: $line_height1x;
        font-size: $font_size_7;
//        font-family: HelveticaNeueETW01-55Rg;
		@include font-family(400);
        line-height: $line_height2x;
    }


    h5 {
        font-style: normal;
        font-weight: normal;
        font-size: $font-size_4;
        line-height: $line_height2x;
        margin-bottom: $line_height1x;
        margin-top: $line_height1x;
		@include font-family(500);
//        font-family: HelveticaNeueETW01-65Md;
    }


    h6 {
        font-weight: normal;
        font-style: normal;
        font-size: $font-size_4;
        margin-bottom: $line_height1x;
        margin-top: $line_height1x;
		@include font-family(500);
		font-style: italic;
//        font-family: HelveticaNeueETW01-66Md;
    }

    p {
        margin-bottom: $line_height2x;
        line-height: $line_height2x;
        font-family: HelveticaNeueETW01-55Rg;
        font-size: $font-size_4;
    }


    .intro {
        font-size: $font_size_6;
        line-height: $line_height2x;
    }

    @mixin quotation_marks {
        &:before {
            @include quotation_marks_left;
        }

        &:after {
            @include quotation_marks_right;
        }
    }

    @mixin quotation_mark_style {
        display: inline-block;
        position: relative;
        width: 0.625em;
        height: 0.5em;
        color: $color_highlight;
        font-family: HelveticaNeueETW01-46Lt;
        font-size: 2.5em;
    }

    @mixin quotation_marks_left {
        @include quotation_mark_style;
        margin-right: 0.2em;
        margin-left: -0.825em;
        margin-bottom: -0.125em;
        content: "\201C";
        text-align: right;
    }

    @mixin quotation_marks_right {
        @include quotation_mark_style;
        margin-left: 0.125em;
        margin-right: -1em;
        margin-bottom: -0.425em;
        content: "\201D";
        text-align: left;
    }

    .testimonial {
        font-size: $font_size_5;
        font-family: HelveticaNeueETW01-56It;
        @include quotation_marks;
        margin-bottom: $line_height3x;
    }

    blockquote, q {
        display: block;
        clear: both;
        font-size: $font_size_7;
        line-height: $line_height3x;
        margin-bottom: $line_height2x;
        font-family: HelveticaNeueETW01-46Lt;


         @include quotation_marks;
    }

    blockquote {
        padding: 0 2em;
    }

    q {
        padding: 0 2em 1em;

         & footer {
            font-size: $font_size_3;
            position: absolute;
            text-align: right;
            overflow: visible;

            &:before {
                display: block;
                width: 1em;
                height: 2em;
                position: relative;
                content: "\2014";
                float: left;
                margin-right: 0.625em;
            }
        }
     }

    .subheading {
        font-size: $font_size_7;
        line-height: $line_height4x;

    }


    blockquote.callout {
     font-size: $font_size_9 !important;
 }

    .callout {
        font-size: $font_size_9 !important;
        font-family: HelveticaNeueETW01-46Lt;
        line-height: $line_height4x;
        text-transform: uppercase;
        letter-spacing: 0px;
        color: $color_text;
    }

    .callout2 {
        font-size: $font_size_7;
        font-family: HelveticaNeueETW01-46Lt;
        line-height: $line_height3x;
    }


    .small {
        font-size: $font_size_2;
    }


    .fineprint {
        font-size: $font_size_1 !important;
        line-height: $line_height1x !important;
        font-family: HelveticaNeueETW01-45Lt;
        letter-spacing: 1px;
        margin-bottom: $line_height1x;

        & a:link, & a:visited {
            color: darken($color_gray, 10%);
            border-bottom: none;
            text-decoration: underline;
        }

        & a:hover {
            color: $color_highlight;
        }
    }




    // gray box with stroke
    .box_callout {
        border: 1px solid #eaf1f5;
        border-radius: 10px;
        background-color: #f3f6f7;
        padding: $line_height1x;
    }
