@mixin font-size($size) {
    font-size: ($size * $rootfontsize) + px;
    font-size: $size + rem;
}

@mixin line-height($size) {
    line-height: ($size * $rootfontsize) + px;
    line-height: $size + rem;
}

@mixin rem-height($size) {
    height: ($size * $rootfontsize) + px;
    height: $size + rem;
}

@mixin taptarget() {
    @include rem-height($tapheight);
    min-height: ($mintapheight * $rootfontsize) + px;
    min-height: $mintapheight + rem;
}

