body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Sass Syntax error: Invalid CSS after \"\": expected selector or at-rule, was \"<<<<<<< HEAD\" \A         on line 1 of \\Applications\\MAMP\\htdocs\\HD responsive checkout\\HD-responsive-checkout\\css\\ui\\_checkout.scss \A         from line 26 of \\Applications\\MAMP\\htdocs\\HD responsive checkout\\HD-responsive-checkout\\css\\style.scss \A '; } 
                            
                            body * { 
                            display: none; 
                            } 