body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Sass Syntax error: Invalid CSS after \"    .\": expected class name, was \"}\" \A         on line 77 of \\Applications\\MAMP\\htdocs\\HD responsive checkout\\HD-responsive-checkout\\css\\ui\\_checkout.scss \A         from line 31 of \\Applications\\MAMP\\htdocs\\HD responsive checkout\\HD-responsive-checkout\\css\\style.scss \A '; } 
                            
                            body * { 
                            display: none; 
                            } 