xmp {
    list-style: none;
    text-indent: 0;
    @include font-size(.9);
    margin: 0;
    border-radius: 5px;
    background: $lighter;
    padding: 1em;
    color: $light-blue;
}

.pattern {
    padding-bottom: 3em;
    margin-bottom: 3em;
    border-bottom: $lineweight $linetype $lighter;
}

body {
    @media #{$desk} {
        margin: 0 auto;
        max-width: 60em;
        overflow: hidden;
    }
}

*, *:before, *:after {
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
}

header {
}


.trust-asset {
    width: auto;
    height: 2em;
    display: block;
    float: right;
    margin: 5px 1em 0 0;
    line-height: 2em;

    @media #{$lap} {
        &:before {
            @include pseudo(10em, 1em, "Secure Transaction");
            color: $light-blue;
            text-align: right;
            margin-right: 1em;
            line-height: 1em;
        }
    }

    @media #{$desk} {
        &:before {
            color: $lighter;
        }
    }


    .trust-asset-lock {
        width: 2em;
        height: 2em;

        .lock {
            fill: $light-blue;

            @media #{$desk} {
                fill: $lighter;
            }
        }
    }
}

article {

    @media #{$lap} {
        width: 96%;
        margin: 0 auto;
//        overflow: hidden;
    }
}

.nav--fit {
    width: 101%;
}


.hide {
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.address-wrapper {
    list-style: none;

    li {
        display: block;
        float: left;
    }
}

.checkout {

}

    .global-nav {
        height: (($tapheight - 1) * $rootfontsize) + px;
        height: ($tapheight - 1) + rem;
        background-color: $light-blue-lighter;
        display: block;
        overflow: hidden;

        @media #{$desk} {
            background-color: $light;
        }

    }

	.logo {

        img {
            height: $tapheight - 1.3 + em;
            padding: 5px 0 0 1em;
            display: block;
            max-width: 100%;
        }

	}

    .help {
        height: ($tapheight - 1) + em;
        text-align: center;
        @include line-height(2.5);
    }

    .progress {
        background: $lighter;
        text-align: center;

        @media #{$desk} {
            background: none;
            width: 96%;
            margin: 0 auto;
        }

        ul {
          margin: 0;
        }

        li {
          list-style: none;
          display: block;
          float: left;
          padding: 5px;
          margin: 0;
          width: 25%;

          @media #{$desk} {
              $pillsize: 40px;
              @include transition($transition);
              @include font(1, 300, 4);
              background-color: $lightest !important;
              color: $dark;
              font-weight: normal;
              text-align: left;
              padding-left: $pillsize * 1.5 + 20px;
              height: 5em;
              margin: 0;

              &:hover {
                  color: $light-blue-light;
              }

              &:before {
                  @include transition($transition);
                  display: block;
                  width: $pillsize;
                  height: $pillsize;
                  content: "1";
                  background: $light;
                  color: $dark;
                  border-radius: $pillsize;
                  line-height: $pillsize;
                  position: absolute;
                  margin-top: 1em;
                  margin-left: -$pillsize*1.5;
                  text-align: center;
              }

              &.active {
                  background-color: $lightest !important;

                  a {
                    color: $light-blue !important;
                  }

                  &:before {
                      background: $light-blue;
                      color: $lightest !important;
                  }
              }
          }

          a {
              display: block;
              text-align: center;
              width: 100%;
              margin: 0;
              padding: 0;
              border-bottom: 0;
              @include font(0.9, 500, 1);
              // @include taptarget(-1);
              @include transition($transition);
              color: $light;
              text-decoration: none;

              &:hover {
                  background: $light-blue;

                  &:before {
                      background: $light-blue-light;
                      color: $lightest;
                  }
              }

              &:visited {
                  background-color: $lighter;
                  color: $light;

              }

              @media #{$lap} {
                height: 3em;
                line-height: 3em !important;
              }

              @media #{$desk} {
                display: inline;
              }


          }
        }


        .active {
            background-color: $light-blue !important;
            color: $lightest !important;

            a {
              color: $lightest !important;
            }
        }

        .shipping, .method {
          a {
            @include line-height(1, true);

          }
        }

        .billing, .review {
          margin: 0;
          a {
            @include line-height(2, true);
            margin: 0;
          }
        }




        @media #{$desk} {
            .shipping:before {
                content: "1";
            }

            .method:before {
              content: "2";
            }

            .billing:before {
                content: "3";
            }

            .review:before {
                content: "4";
            }
        }

        .nav {
            margin-bottom: 0;
        }
    }

    .cancel-order {
        @include rem-height($tapheight);

        button {
            @include rem-height($tapheight);
        }
    }



    .cta_bar {

        @include rem-height($tapheight);
        background-color: $light;

        & .grid__item {
            @include rem-height($tapheight);
        }

        .total {
            text-align: center;
            @include font(1.5, 300, 3.25);

            @media #{$desk} {
                @include font(2, 100, 3.25);
            }

            &:before {
                @include pseudo(6rem, 1, "Total: ");
                margin-right: .6em;

            }
        }


    }

    #content {
        min-height: 1000px;
        background-color: $lightest;
    }

    #help-content, .privacy-policy, .shipping-policy {
        background-color: $dark;
    }

    #help-content {
        padding-top: $taptarget*1.5+px;
    }


.changeaddress, .createaddress {
    margin: 1em auto;
    width: 100%;
}

.changeaddress {
    @media #{$lap} {
        margin-top: 0;
    }
}

.address-item, .credit-card {
    text-align: left;

    span {
        display: inline-block;
        text-align: left;
    }
    .name, .company, .country, .type, .masked-number, .expiration {
        display: block;
        clear: both;
    }


    .edit {
        position: relative;
        float: left;
    }

    .address {
        display: block;
        float: left;
        margin-left: 0;
        margin-top: 1em;
        clear: both;

        @media #{$lap}{
            clear: none;
            margin-top: 0;
            margin-left: 1.5em;
        }

        @media #{$desk}{
            margin-top: 1em;
            margin-left: 0;
            clear: both;
        }
    }


}

input[type=radio] + label.card {
    .shiptothis, .paywiththis {
        position: relative;
        display: block;
        height: 100%;
        float: right;
        margin-top: 0;
        margin-bottom: 0;
    }

    .shiptothis:after {
      @include pseudo(100%, 2em, "Ship to this address");
    }

    .paywiththis {
      &:after {
        @include pseudo(100%, 2em, "Pay with this card");
      }
    }

    button {
        display: block;
        height: 2em;
    }

}

input[type=radio]:checked + label.card {

    .shiptothis, .paywiththis {
        background: none;
        margin-top: 0.5em;

        @media #{$desk}{
            margin-top: 1em;
        }

        &:after {
            @include pseudo(auto, 1em, "Selected");
            color: $green;
            position: relative;
            display: block;
            float: right;
            margin-top: -.7em;
            margin-right: 0;

            @media #{$desk} {
              margin-top: -1.125em;
            }
        }
    }
}

.new-address {
  clear: both;
  margin-bottom: 2em;

  button {
    margin-right: 1em;
  }

  .country {
    text-align: center !important;

    label {
      margin-bottom: 1em;
    }
  }
}



.buttons {
  margin-bottom: 1em;
}

.shipping-option-item {
  .shipping-option {
    span {
      display: block;
      width: 100%;
      float: left;
      margin: 0;
      @include font-size(0.8);

      @media #{$lap} {
        @include font(1, 300, 2);
      }
    }

    .carrier {
      width: 30%;
      font-weight: 500;
      text-align: right;
      padding-right: 10px;

      @media #{$lap} {
        width: 18%;
      }

      @media #{$desk} {
        width: 12%;
      }

      &:before {
        @include pseudo(2em, 2em, "\ ");
        margin: 5px 1em 0 0;
        display: block;
        float: left;
        position: absolute;

        background-size: contain;
        background-repeat: no-repeat;
      }

      &.ups:before {
        background-image: url('../images/United_Parcel_Service_logo.svg');
        margin-top: -2px;

        @media #{$desk} {
          margin-top: 5px;
        }
      }

      &.usps:before {
        background-image: url('../images/United_States_Postal_Service_Logo_Icon.svg');

        margin-top: 2px;

        @media #{$desk} {
          margin-top: 10px;
        }
      }
    }

    .method {
      width: 60%;
      font-style: italic;

      @media #{$desk} {
        width: 30%;
      }
    }


    .delivery-date {

      &:before {
        @include pseudo(27.5%, 1em, "Arrives: ");
        @include font(0.8, 500, 0.7);
        margin-right: 0.7em;
        text-align: right;

        @media #{$lap} {
          @include font(1, 500);
          width: 16%;
        }

        @media #{$desk} {
          display: none;
        }
      }

      @media #{$desk} {
        width: 42%;
      }
    }

    .price {
      font-weight: 700;
      line-height: 1.2em;
      @media #{$desk} {
        width: 10%;
        @include line-height(2);
      }

      &:before {
        @include pseudo(27.5%, 1em, "Price: ");
        @include font(0.8, 500, 0.7);
        margin-right: 0.7em;
        text-align: right;

        @media #{$lap} {
          width: 16%;
          @include font(1, 500);
        }

        @media #{$desk} {
          display: none;
        }
      }
    }

    &.labels {
      display: none;

      @media #{$desk} {
        display: block;
        padding: 1em;
        span {
          margin: 0;
          padding: 0;
          font-weight: 500;
          text-align: left;
          font-style: normal;

          &.carrier {
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }
}

.shipping-method {
  p {
    margin-left: 1em;

    @media #{$desk} {
      margin-left: 0;
    }
  }
}

.default-payment {
  .card {
    margin-top: 0;
    padding-top: 1em;
    // min-height: 150px;
  }
}

.billing-data {
  .address {
    color: $dark;
    margin-top: 0;
  }
}

.credit-card {
  overflow: auto;

  span, .name, .masked-number, .expiration {
    clear: none;
    float: left;
    margin-right: 1em;
    margin-top: 1em;
  }
}

.promo-code {
  overflow: auto;
  margin-bottom: 0 !important;


  input {
    text-transform: uppercase;
    width: 60% !important;
    margin-bottom: 0;

    @media #{$lap}{
      width: 70% !important;
    }
  }

  button {
    margin: 0;
    float: right;
  }
}

.type {
  display: block;
  width: 31px;
  height: 20px;
  overflow: hidden;
  text-indent: 101%;
  text-align:right !important;
  background: url("../images/creditcards.svg") 0 0 ;
  background-size: auto 20px;
  background-repeat: no-repeat;
  margin-bottom: 1em;
  margin-left: 2px;

  &.visa {
    background-position: 0 0;
  }

  &.mastercard {
    background-position: -31px 0;
  }

  &.amex, &.americanexpress {
    background-position: -63px 0;
  }

  &.discover {
    background-position: -93px 0;
  }

  &.paypal {
    background-position: 1px -80px;
  }
}

.promo-code-container {
  form {
    margin: 0;
    padding: 0;
  }
}

#payment-option-credit-card + label .payment-option:after {
  @include pseudo(125px, 20px, "\ ");
  background: url("../images/creditcards.svg");
  background-size: auto 20px;
  margin-left: 1em;
}

#payment-option-paypal + label .payment-option:after {
  @include pseudo(30px, 20px, "\ ");
  background: url("../images/creditcards.svg");
  background-size: auto 20px;
  background-position: -120px 0;
  margin-left: 1em;
}

#payment-option-default + label .type {
  clear: none !important;
  display: inline-block;
  height: auto;
  margin: 0 .25em 0 1em;
}

.paypal-container {
  margin-bottom: 2em;
  p {
    margin: 1em;
    color: $dark-yellow !important;
  }
}

.incomplete {
  background: $lightest !important;
  @include border('all', 1px, solid, $light);
}

.selected.incomplete, input[type=radio]:checked + label.incomplete {
  @include border('all', 1px, solid, $green);
}

.checkbox-input {
  clear: none;
  float: left;
  margin-right: 1em;
  margin-top: 3px;
}

.card-number_read_only {
  .type {
    float: left;
    margin-right: 0.5em;
  }
}

/* Colors */
.bg-lightest { background-color: $lightest; }
.bg-lighter { background-color: $lighter; }
.bg-light { background-color: $light; }
.bg-dark { background-color: $dark; }
.bg-darkest { background-color: $darkest; }

.graybox, .greybox {
}


/* Typography */
a, a:link, a:hover, a:active, a:focus {
    text-decoration: none;
    border-bottom: 1px solid;
}
