$formfieldheight: 3.25;

form {
    width: 100%;
    padding-left: 1.5em;
}
    input[type=text], input[type=number], select {
        @include rem-height($formfieldheight);
    }

    input[type=text], input[type=number], textarea, select {
        width: 100%;
        @include border;
        background: none;
        border-radius: $borderradius;
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 1em 1em 0;
        &.nolabel {
          padding-top: 0;
        }

        outline: 0;
        background-color: $lightest;
        @include transition;

        &.required {
            & + label {
                &:after {
                  @extend .required_indicator;
                }
            }
        }

        &.valid {
            background-color: $lighter-green !important;
            border-color: $green !important;

      			&:focus {
      				background-color: $light-green !important;
      			}

            & + label {
                color: $green !important;
            }
        }

        &.error {
            background-color: $lighter-red !important;
            border-color: $red !important;

      			&:focus {
      				background-color: $light-red !important;
      			}

            & + label {
                color: $red !important;
            }
        }

        &:valid {
            // Hides the label
            background: $lightest;
        }

        &:focus {
            background-color: $lighter
        }

        &:focus + label, & + label.notempty {
            padding: 0 1rem;
            @include font(0.6, 500, 1);
            z-index: 2;
            text-transform: uppercase;
            margin-top: -3rem;
            letter-spacing: 1px;
        }
    }

    input[type=text] + label, textarea + label, select + label {
        @include transition;
        position: absolute;
        @include font(1,300,3);
        z-index: 99;
        color: $dark;
        padding: 0 1rem;
        margin-top: -3.5em;
        letter-spacing: 0;
    }


    textarea, textarea.threelines {
//        Standard size is 2x the standard text field height
        @include rem-height($formfieldheight * 2, important);
        @include line-height(1.5);
        display: block;
        resize: none;
        padding-top: 1.5em;

        & + label {
            margin-top: -6.5em;
        }

        &:focus + label, & + label.notempty {
            margin-top: -6.2rem;
        }

        &.fourlines {
            @include rem-height($formfieldheight * 2.5, important);

            & + label {
                margin-top: -7.5em;
            }

            &:focus + label, &:focus + label.notempty {
                margin-top: -7.8rem;
            }
        }

        &.fivelines {
            @include rem-height($formfieldheight * 3, important);

            & + label {
                margin-top: -9.1em;
            }

            &:focus + label, &:focus + label.notempty {
                margin-top: -9.4rem;
            }
        }

    }
// }

/********************************

RADIO BUTTON CARD STYLE

*********************************/

input[type=radio] {
    display: none;

    & + label.card {

        @extend .card;

        &:active {
            -webkit-transform: translateY(.0em);
            background-color: darken($lighter, 2%);
            box-shadow: -2px -2px 10px rgba(0,0,0,.1);
        }

    }

    &:checked + label.card {
        @extend .card.selected;
    }
}

.no-touch input[type=radio] {

  & + label.card:hover {
    -webkit-transform: translateY(-.25em);
    background-color: lighten($lighter, 2%);
  }

  &:checked + label.card {
    @include transition;

    &:hover {
        -webkit-transform: translateY(0);
    }
  }
}


.card.selected {
  outline-color: green;
  background: $lighter-green;
  box-shadow: none;

  &:before {
      @include pseudo(auto, .5em, '\2714');
      float: right;
      color: $green;
      @include font-size(2);
      @include line-height(1);
      text-align: center;
      display: block;
  }

  &.label {
    div:first-of-type:after {
        @include pseudo(auto, 1em, "Selected");
        color: $green;
        position: relative;
        display: block;
        float: right;
        margin-top: -.7em;
        margin-right: 1em;

        @media #{$desk} {
          margin-top: -1.725em;
        }
    }
  }
}

/********************************

DROP DOWN

*********************************/
select {
  -webkit-appearance: none;

  // & + label {
  //   @include outline;
  // }
}



.select2-choice {
  height: 3rem !important;

  .select2-chosen {
    line-height: 3em;
    text-align: left;
    margin-left: 7px;
    @include font(1, 300, 3);
  }

  .select2-arrow {
    width: 4rem !important;

    &:after {
      @include pseudo(4em, 3em, '\25BC');
      display: block;
      line-height: 3em;
      color: $dark;
      margin-top: -2.75em !important;
      text-align: center;
    }
  }
}

.select2-container.error {
  @extend .error;

  .select2-choice {
    border-color: $red !important;
    background: $lighter-red;
  }
}

.dropdownlabel {
  text-align: left;
}

input.autocomplete {
  margin: 0;
  width: 92%;
  float: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  & + label {
    height: 52px;
    clear: both;
    float: none;
    display: block;
    margin-top: 0 !important;
  }
}



.show-all {
  width: 8%;
  margin: 0 !important;
  height: 52px;
  border: none;
  display: block;
  float: right;
  @include border;
  border-top-right-radius: $borderradius;
  border-bottom-right-radius: $borderradius;
  line-height: 3rem;
  border-left: none;

}

.error ~ .show-all {
  background: $red;
  color: $light-red;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ui-autocomplete {
  width: 100% !important;
  list-style: none;
  height: 7rem;
  overflow-y: scroll;
  border: 1px solid $dark;
  border-bottom-right-radius: $borderradius;
  border-bottom-left-radius: $borderradius;
  border-top: 0;

  li {
    display: block;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: left !important;
    text-indent: 1em;

    a {
      border: none !important;
      width: 100%;
      display: block;
      cursor: default;
    }

    background: $lightest;
    border-bottom: 1px solid $lighter;
    &:hover {
        background: darken($lightest, 10);
    }

    &:nth-of-type(even) {
      background: $lighter;
      &:hover {
        background: darken($lighter, 10);
      }
    }
  }
}

.error ~ .ui-autocomplete {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: $red;

  li {
    background: lighten($light-red, 5);
    border-bottom: 1px solid $light-red;
    color: $red;

    &:nth-of-type(even) {
      background: $light-red;
    }
  }
}

/********************************

OTHER STYLES

*********************************/

.required_indicator:after {
  @include pseudo(auto, 1em, "*");
  color: red;
  margin-left: 4px;
  float: right;
}

.required-field-message {
  @extend .text-error;
  text-align: right;
  @extend .required_indicator;
}


/********************************

VALIDATION

*********************************/

.error-container {
  padding-left: 1.5em;

  .message {
    @include font(1.5, 300);

    @media #{$desk} {
      @include font(2, 300);
    }
  }

  .details {
    font-weight: 700;
    ul {
      margin-top: 0.5em;
      li {
        @include line-height(1.25);
        font-weight: 300;
      }
    }
  }
}

input.error, textarea.error {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input ~ .error, label ~ .error {
  display: block;
  clear: both;
  background: $light-red;
  padding: 1em;
  font-weight: bold;
  border-bottom-left-radius: $borderradius;
  border-bottom-right-radius: $borderradius;
  @include border(all, $lineweight, $linetype, $red);
  @include border(top, 0);
  text-align: left;
}
