$formfieldheight: 3.2;

form {
    width: 100%;
    padding-left: 1.5em;

    input[type=text], select {
        @include rem-height($formfieldheight);
    }

    input[type=text], textarea, select {
        width: 100%;
        @include border;
        background: none;
        border-radius: 5px;
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 1em 1em 0;
        outline: 0;
        background-color: $lightest;
        @include transition;

        &.required {
            & + label {
                &:after {
                  @extend .required;
                }
            }
        }

        &.valid {
            background-color: $lighter-green !important;
            border-color: $green !important;

      			&:focus {
      				background-color: $light-green !important;
      			}

            & + label {
                color: $green !important;
            }
        }

        &.error {
            background-color: $lighter-red !important;
            border-color: $red !important;

      			&:focus {
      				background-color: $light-red !important;
      			}

            & + label {
                color: $red !important;
            }
        }

        &:valid {
            // Hides the label
            background: $lightest;
        }

        &:focus {
            background-color: $lighter
        }

        &:focus + label, & + label.notempty {
            padding: 0 1rem;
            @include font(0.6, 500, 1);
            z-index: 2;
            text-transform: uppercase;
            margin-top: -3rem;
            letter-spacing: 1px;
        }
    }

    input[type=text] + label, textarea + label, select + label {
        @include transition;
        position: absolute;
        @include font(1,300,3);
        z-index: 99;
        color: $dark;
        padding: 0 1rem;
        margin-top: -3.5em;
        letter-spacing: 0;
    }
    textarea, textarea.threelines {
//        Standard size is 2x the standard text field height
        @include rem-height($formfieldheight * 2, important);
        @include line-height(1.5);
        display: block;
        resize: none;
        padding-top: 1.5em;

        & + label {
            margin-top: -6.5em;
        }

        &:focus + label, & + label.notempty {
            margin-top: -6.2rem;
        }

        &.fourlines {
            @include rem-height($formfieldheight * 2.5, important);

            & + label {
                margin-top: -7.5em;
            }

            &:focus + label, &:focus + label.notempty {
                margin-top: -7.8rem;
            }
        }

        &.fivelines {
            @include rem-height($formfieldheight * 3, important);

            & + label {
                margin-top: -9.1em;
            }

            &:focus + label, &:focus + label.notempty {
                margin-top: -9.4rem;
            }
        }

    }
}

/********************************

RADIO BUTTON CARD STYLE

*********************************/

input[type=radio] {
    display: none;

    & + label.card {

        @extend .card;


        &:hover {
            -webkit-transform: translateY(-.25em);
            background-color: lighten($lighter, 2%);
        }

        &:active {
            -webkit-transform: translateY(.0em);
            background-color: darken($lighter, 2%);
            box-shadow: -2px -2px 10px rgba(0,0,0,.1);
        }

    }

    &:checked + label.card {
        @include transition;
        @extend .card.selected;

        &:hover {
            -webkit-transform: translateY(0);
        }



    }
}

.card.selected {
  outline-color: green;
  background: $lighter-green;
  box-shadow: none;

  &:before {
      @include pseudo(auto, .5em, '\2714');
      float: right;
      color: $green;
      @include font-size(2);
      @include line-height(1);
      text-align: center;
      display: block;
  }

  &.label {
    div:first-of-type:after {
        @include pseudo(auto, 1em, "Selected");
        color: $green;
        position: relative;
        display: block;
        float: right;
        margin-top: -.7em;
        margin-right: 1em;

        @media #{$desk} {
          margin-top: -1.725em;
        }
    }
  }
}

/********************************

DROP DOWN

*********************************/
select {
  -webkit-appearance: none;
}

.dropdownlabel {
  text-align: left;
}


/********************************

OTHER STYLES

*********************************/

.required:after {
  @include pseudo(auto, 1em, "*");
  color: red;
  margin-left: 4px;
  float: right;
}

.required-field-message {
  color: $red;
  text-align: right;
  @extend .required;
}
