.btn, .cta, button {
    @include taptarget();
    background-color: $light;
    height: 2em;
    @inlcude transition;
    margin: 0;

    @include font(1, 500, 2, true);

    &.small {
        @include taptarget(-2);
        @include line-height(2, true);
    }

    @media #{$medium} {
      font-weight: 300;
    }


}

.primary {
    background-color: $green;
    color: $lightest;
    @include font-size(1.5);
    @include transition;

    @media #{$large} {
        @include font-size(2);
    }

    &:hover, &:focus {
        background-color: lighten($green, 10%);
    }

    &:active {
        background-color: darken($green, 10%);
    }

    &.small {
        @include font-size(1);
    }

}


.secondary {
    background-color: $light;
    color: $darker;
    font-weight: 500;
    @include transition;

    &:hover, &:focus {
      background-color: $lightest;
    }
}

.tertiary {
    background: none;
    color: darken($light, 10%);
    border: 1px solid darken($light, 10%) !important;
    @include transition;

    &:hover, &:focus {
      background-color: $lightest;
    }
}

.card {
  overflow: hidden;
  padding: 1em;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  margin-bottom: 1em;

  @include transition;
  background-color: $lighter;

  @media #{$large} {
    margin-bottom: 2em;
  }
}

.card.success {
  outline-color: green;
  background: $lighter-green;
  box-shadow: none;
}
